[Unit]
Description="Morgan Server"
Documentation=https://7onetell.github.io
Requires=network-online.target
After=network-online.target

[Service]
User=consul
Group=consul
ExecStart=/usr/local/bin/server.sh
ExecReload=/usr/local/bin/morgan reload
KillMode=control-group
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target