[Unit]
Description="Jupyter Lab"
Documentation=https://jupyter.org/index.html
Requires=network-online.target
After=network-online.target

[Service]
User={{ user }}
Group={{ user }}
ExecStart=/usr/local/bin/jupyterlab.sh
ExecReload=/usr/local/bin/jupyterlab.sh reload
KillMode=control-group
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target