server {
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;

    root /home/vagrant/.vagrant;
    index metadata.json;

    server_name tmt.7onetella.net;

    # Match the box name in location and search for its catalog
    # e.g. http://tmt.7onetella.net/7onetella/password resolves to
    # /home/vagrant/.vagrant/7onetella/password/metadata.json
    #
    location ~ ^/([^\/]+)/$ {
        index metadata.json;
        try_files $uri $uri/ metadata.json =404;
        autoindex on;
        autoindex_exact_size off;
        autoindex_format html;
        autoindex_localtime on;
    }

    location ~ ^/boxes/([^\/]+)/$ {
        try_files $uri $uri/ =404;
        autoindex off;
    }

    # Serve json files with content type header application/json
    location ~ \.json$ {
        add_header Content-Type application/json;
    }

    # Serve box files with content type application/octet-stream
    location ~ \.box$ {
        add_header Content-Type application/octet-stream;
    }

}