data_dir  = "/opt/nomad"
datacenter = "dc1"

advertise {
  # Defaults to the first private IP address.
  # http = "0.0.0.0"
  # rpc  = "0.0.0.0"
}

server {
  enabled          = false
}

client {
  enabled       = true
  network_speed = 1024
  servers = [ {% for node in nodes %}{% if loop.index0 > 0 %}, {% endif %}"{{ node }}"{% endfor %} ]
  network_interface = "eth1"
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

consul {
  address = "0.0.0.0:8500"
}
