[Unit]
Description="Projector Server"
Documentation=https://github.com/JetBrains/projector-installer#Quick-start
Requires=network-online.target
Wants=network-online.target
After=network-online.target

[Service]
User=debian
Group=debian
ExecStart=/home/debian/.projector/configs/ide/run.sh
ExecReload=/home/debian/.projector/configs/ide/run.sh reload
KillMode=control-group
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target