<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.consul</string>
    <key>ServiceDescription</key>
    <string>HashiCorp Consul - A service mesh solution</string>
    <key>ProgramArguments</key>
    <array>             
        <string>/usr/local/bin/consul.sh</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>