[Unit]
Description="Humanoid - Generic SlackBot"
Documentation=https://7onetella.github.io
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/humanoid.d/humanoid-config.ini

[Service]
User=humanoid
Group=humanoid
ExecStart=/usr/local/bin/humanoid.sh
ExecReload=/usr/local/bin/humanoid reload
KillMode=control-group
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target