data_dir  = "/opt/nomad"
datacenter = "dc1"

server {
  enabled          = true
  bootstrap_expect = 3
  server_join {
    retry_join = [ {% for node in nomad_nodes %}{% if loop.index0 > 0 %}, {% endif %}"{{ node }}"{% endfor %} ]
    retry_max = 0
    retry_interval = "15s"
  }
}

consul {
  address = "127.0.0.1:8500"
}