[Unit]
Description="Pasword App"
Documentation=https://github.com/7onetella/password
Requires=network-online.target
After=network-online.target

[Service]
User=root
Group=root
ExecStart=/usr/local/bin/password.sh
ExecReload=/usr/local/bin/password reload
KillMode=control-group
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target